[submodule "xmonad/xmonad/xmonad-dbus-Git"]
	path = dotfiles/.config/xmonad/xmonad-dbus-Git
	url = git@github.com:troydm/xmonad-dbus.git
[submodule "xmonad/xmonad/xmonad-git"]
	path = dotfiles/.config/xmonad/xmonad-git
	url = git@github.com:xmonad/xmonad.git
[submodule "xmonad/xmonad/xmonad-contrib-git"]
	path = dotfiles/.config/xmonad/xmonad-contrib-git
	url = git@github.com:xmonad/xmonad-contrib.git
[submodule "dunst/dunst/notify-Git"]
	path = dotfiles/.config/dunst/notify-Git
	url = git@github.com:vlevit/notify-send.sh.git
